@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');


:root {
    background-color: #181D31;
    color: white;
    font-family: 'Vujahday Script', cursive;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    background-color: #02264a;
    height: 8vh;
    display: flex;
}

.navbar a {
    text-decoration: none;
    padding-right: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover {
    color: rgb(0, 255, 247);
}


/* Height of separate content */
.home,
.blog,
.writeup,
.team,
.contact {
    height: 100vh;
}

/* Coloring */
.home {
    background-image: url('../assets/image/macbook.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.blog {
    background-color: rgb(31, 40, 72);
}

.team {
    background-color:rgb(19, 21, 50)
}

.contact {
    background-color: rgb(23, 45, 86);
}

.writeup {
    background-image: url(../assets/image/writeup.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/* Coloring End */

/* Padding the content height */
.home-content,
.blog-content,
.writeup-content,
.team-content,
.contact-content{
    padding-top: 15px;
}

/* Home Section */
.home-content {
    padding: 10%;
    color: white;
    text-shadow: red 1px;
}

.home-content p {
    padding-left: 5%;
    font-size: 20px;
}

/* Blog Section */
.blog-content {
    padding: 2%;
    text-align: center;
    color: white;
}

/* Writeup Content */
.ctf-topic {
    color: white;
    text-shadow: 2px 2px rgb(63, 12, 158);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#writeup-card {
    height: 15vh;
}


/* About Us */
.contact-content {
    color: white;
}

.contact-content h5 {
    padding: 10px;
    padding-left: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    width: 300px;
    height: 300px;
}


/*Card Configuration*/

.row {
    padding: 20px;
}

.card {
    height: 20vh;
}

.binary {
    background-image: linear-gradient(#42275a , #734b6d);
}

.reverse {
    background-image: linear-gradient(#614385 , #516395);
}

.crypto {
    background-image: linear-gradient(#000428 , #004e92);
}

.forensic {
    background-image: linear-gradient(#2b5876 , #4e4376);
}

.android {
    background-image: linear-gradient(#ffd89b , #19547b);
}

.web {
    background-image: linear-gradient(#43cea2 , #185a9d);
}

.writeup-card-bg {
    background-image: linear-gradient(#614385,#516395);
}
.card-title,
.card-text {
    color: white;
}
/* Card Configuration End */


/* Team Card Configuration */



/* For mobile */
@media all and ( max-width : 640px )
{
    .navbar {
        height: auto;
    }

    .home {
        background-image: url('../assets/image/mobile-bg.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    .writeup {
        background-image: url('../assets/image/writeup-bg.png');
        background-size: cover;
        background-attachment: fixed;
    }

    .home-content {
        padding: 20%;
        font-size: 15px;
    }

    .blog {
        height: 200vh;
    }
    .row {
        padding: 3px;
        padding-bottom: 2px;
    }

    .card {
        height: auto;
    }

    .ctf-topic {
        color: white;
        text-shadow: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #writeup-card {
        height: auto;
    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .contact-content h5 {
        padding-right: 2px;
    }
}

